body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Atkinson Hyperlegible", Charter, Georgia, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 300;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  margin-bottom: 15px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

ul,
ol {
  margin-left: 30px;
}

b,
strong {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Atkinson Hyperlegible", Charter, Georgia, Helvetica, Arial, sans-serif, "Futura", sans-serif;
}

h4 {
  font-size: 12px;
}

a {
  color: #779c8f;
  text-decoration: none;
}

a:hover {
  color: #ff91af;
  text-decoration: underline;
}

.wrapper {
  max-width: calc(700px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  position: relative;
}

@media screen and (max-width: 800px) {
  .wrapper {
    max-width: calc(800px - 30px);
    padding-right: 15px;
    padding-left: 15px;
  }
}

.wrapper:after,
.footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.site-header {
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  padding-top: 6px;
  padding-bottom: 6px;
  position: relative;
}

.site-title {
  font-size: 26px;
  line-height: 48px;
  letter-spacing: -0.6px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 4px;
}

.site-title,
.site-title:visited {
  color: #424242;
}

.site-nav {
  float: right;
  line-height: 48px;
}

.site-nav .page-link {
  color: #111;
  line-height: 1.7;
}

.site-nav .page-link:not(:first-child) {
  margin-left: 20px;
}

.page-content {
  padding: 30px 0;
}

.profile-pic {
  width: 202px;
  height: auto;
  border: #ccc 1px solid;
  margin-left: 20px;
  border-radius: 12px;
  display: block;
}

.profile-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  background: #f3f3f3;
  font-size: 12px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.profile-fig {
  float: right;
  margin-left: 10px;
  margin-bottom: 0;
}

.profile-cap {
  text-align: center;
  font-size: 12.25px;
}

.notice {
  color: #ff91af;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
}

hr {
  background-color: #e8e8e8;
  border: none;
  height: 1px;
  margin-bottom: 15px;
}

h2.center {
  text-align: center;
}

.pub {
  margin-bottom: 15px;
}

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px;
}

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
  font-size: 12px;
}

.footer-col-1,
.footer-col-2 {
  width: calc(33% - (30px / 2));
}

.footer-col h4 {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 30px;
}

.footer-col .social-links {
  display: flex;
  flex-wrap: wrap;
}

.footer-col .social-links .social-link {
  display: flex;
  width: 100%;
  align-items: flex-start;
  line-height: 16px;
  margin-top: 6.5px;
  margin-bottom: 10px;
}

.footer-col .social-links .social-link a {
  color: #779c8f;
}

@media screen and (max-width: 500px) {
  .site-header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .site-title {
    float: none;
    display: block;
    line-height: 48px;
  }

  .site-nav {
    float: none;
    line-height: 1.7;
    margin-bottom: 10px;
  }

  .site-nav .page-link {
    display: inline-block;
    margin-right: 14px;
  }

  .site-nav .page-link:not(:first-child) {
    margin-left: 0;
  }

  .profile-pic {
    float: none;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .profile-fig {
    float: none;
    margin-bottom: 10px;
    margin-left: 0;
  }

  .site-footer {
    padding-top: 10px;
  }

  .footer-col {
    float: none;
    width: 100%;
  }
}
